[submodule "libdragonfly"]
	path = libdragonfly
	url = https://github.com/z2-2z/libdragonfly
    ignore = dirty
[submodule "AFLplusplus"]
	path = AFLplusplus
	url = https://github.com/AFLplusplus/AFLplusplus
    ignore = dirty
